<div class="inner header">
	<div class="col-8">
		<h2><i class="fa fa-unlock-alt encircle"></i>Change Password</h2>
		<ul class="breadcrumb">
			<li ng-repeat="breadcrumb in breadcrumbs.getAll()">
				<span class="divider">/</span>
				<ng-switch on="$last">
				<span ng-switch-when="true">{{breadcrumb.name}}</span>
				<span ng-switch-default><a href="{{breadcrumb.path}}">{{breadcrumb.name}}</a></span>
				</ng-switch>
			</li>
		</ul>
	</div>
	<hr class="blank"></hr>
</div>
<div class="inner content">




	<!--                                   Alert Box                                    -->

	<div class="alert alert-info" ng-show="showSuccessAlert">
		<button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')" >×</button>
		<strong>Success!</strong> {{successTextAlert}}
	</div>



	<!--                                   Login Form                                    -->

	<form class="form-horizontal remove-bottom" role="form" ng-show="{{ lvl3 }}" ng-submit="updatePassword()">

		<!-- Current Password -->
		<div class="form-group">
			<label for="password" class="col-2 control-label">
				Current Password
			</label>
			<div class="col-6">
				<input type="password" id="password" class="form-control" name="password" ng-model="passwordData.password" placeholder="Password" required>
				<p class="help-block animate-repeat" ng-repeat="error in errors.password"><i class="fa fa-exclamation"></i>- {{ error }}</p>
			</div>
		</div>

		<!-- New Password -->
		<div class="form-group">
			<label for="newPassword" class="col-2 control-label">
				<i popover="Enter your desired new password here. The newPassword must be at least 7 characters. The newPassword must contain at least one lowercase letter, uppercase letter, and number." popover-title="Here's a tip..." popover-trigger="mouseenter" class="fa fa-info-circle"></i>
				New Password
			</label>
			<div class="col-6">
				<input type="password" id="newPassword" class="form-control" name="newPassword" ng-model="passwordData.newPassword" placeholder="New Password" required>
				<p class="help-block animate-repeat" ng-repeat="error in errors.newPassword"><i class="fa fa-exclamation"></i>- {{ error }}</p>
			</div>
		</div>

		<!-- Confirm Password -->
		<div class="form-group">
			<label for="confirmPassword" class="col-2 control-label">
				<i popover="Conirm your password by entering your new password again here." popover-title="Here's a tip..." popover-trigger="mouseenter" class="fa fa-info-circle"></i>
				Confirm Password
			</label>
			<div class="col-6">
				<input type="password" id="confirmPassword" class="form-control" name="confirmPassword" ng-model="passwordData.confirmPassword" placeholder="Confirm Password" required>
				<p class="help-block animate-repeat" ng-repeat="error in errors.confirmPassword"><i class="fa fa-exclamation"></i>- {{ error }}</p>
			</div>
		</div>

		<!-- Submit -->
		<div class="form-group">
			<div class="col-offset-2 col-6">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</div>

	</form>

	<hr class="blank"></hr>
</div>

