<div class="inner header">
	<div class="col-8">
		<h2>{{user.username}}'s Profile</h2>
		<ul class="breadcrumb">
			<li ng-repeat="breadcrumb in breadcrumbs.getAll()">
				<span class="divider">/</span>
				<ng-switch on="$last">
				<span ng-switch-when="true">{{breadcrumb.name}}</span>
				<span ng-switch-default><a href="{{breadcrumb.path}}">{{breadcrumb.name}}</a></span>
			</ng-switch>
		</li>
	</ul>
</div>

<hr class="blank"></hr>
</div>
<div class="inner content">

	<!--                                   Loading                                    -->

	<div class="animate-show loading" ng-show="loading"><div class="loading9"><i></i><i></i><i></i><i></i></div></div>



	<!--                                   User Table                                    -->
	<div class="col-8">
		<table ng-hide="loading" class="table animate-show">
			<thead>
				<tr>
					<td>Name</td>
					<td>Email</td>
					<td>Role</td>
					<td>Group</td>
				</tr>
			</thead>
			<tbody>
				<tr class="user" ng-hide="loading">
					<td>{{ user.username }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.role }}</td>
					<td>{{ user.group }}</td>
				</tr>
			</tbody>
		</table>
	</div>


	<!--                                   Admin Only                                    -->

	<div ng-show="lvl1">

		<hr></hr>

		<!--                                   Update Header                                    -->

		<!--                                   Create Header                                    -->
		<div class="col-8">
			<a href="" class="collapse-toggle" ng-click="isCollapsed = !isCollapsed">Update {{ user.username }}'s Profile<i class="fa fa-chevron-down pull-right"></i></a>
		</div>


		<!--                                   Update                                    -->

		<form class="form-horizontal clear collapse" collapse="!isCollapsed" id="update-user" role="form" autocomplete="off" ng-model="updateUser" ng-submit="updateUser()">

			<hr class="blank"></hr>

			<div class="alert alert-success" ng-show="showSuccessAlert">
				<button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')" >×</button>
				<strong>Done!</strong> {{successTextAlert}}
			</div>

			<!-- Username -->
			<div class="form-group">
				<label for="username" class="col-2 control-label">Username</label>
				<div class="col-6">
					<input type="text" id="username" class="form-control" name="username" ng-model="userData.username" placeholder="Username" required>
					<p class="help-block" ng-repeat="error in errors.username"><i class="fa fa-exclamation"></i>- {{ error }}</p>
				</div>
			</div>

			<!-- Email Address -->
			<div class="form-group">
				<label for="email" class="col-2 control-label">Email Address</label>
				<div class="col-6">
					<input type="email" id="email" class="form-control" name="email" ng-model="userData.email" placeholder="Email Address" required>
					<p class="help-block" ng-repeat="error in errors.email"><i class="fa fa-exclamation"></i>- {{ error }}</p>
				</div>
			</div>

			<!-- Role -->
			<div class="form-group">
				<label for="role" class="col-2 control-label">
					<i popover="The user's role determines what he can do. See more in the manual." popover-title="Here's a tip..." popover-trigger="mouseenter" class="fa fa-info-circle"></i>
					Role
				</label>
				<div class="col-6 select">
					<select class="form-control" name="role" ng-model="userData.role"
					ng-options="role.value as role.label for role in roles">
				</select>
				<p class="help-block" ng-repeat="error in errors.role"><i class="fa fa-exclamation"></i>- {{ error }}</p>
				</div>
			</div>

			<!-- Group -->
			<div class="form-group">
				<label for="group" class="col-2 control-label">
					<i popover="The user's group determines which content he can see." popover-title="Here's a tip..." popover-trigger="mouseenter" class="fa fa-info-circle"></i>
					Group
				</label>
				<div class="col-6 select">
					<select class="form-control" name="group" ng-model="userData.group"
					ng-options="group.value as group.label for group in groups">
				</select>
				<p class="help-block" ng-repeat="error in errors.role"><i class="fa fa-exclamation"></i>- {{ error }}</p>
			</div>
		</div>

		<!-- Submit -->
		<div class="form-group">
			<div class="col-offset-2 col-6">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</div>

	</form>

</div>
<hr class="blank"></hr>
</div>




