/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/utilities/_animations.scss */
.alert {
  opacity: 1;
}
/* line 9, ../sass/utilities/_animations.scss */
.alert.ng-hide-add, .alert.ng-hide-remove {
  display: block !important;
}
/* line 14, ../sass/utilities/_animations.scss */
.alert.ng-hide-add.ng-hide-add-active, .alert.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}
/* line 19, ../sass/utilities/_animations.scss */
.alert.ng-hide {
  opacity: 0;
}

/* line 28, ../sass/utilities/_animations.scss */
.animate-show {
  opacity: 1;
}

/* line 33, ../sass/utilities/_animations.scss */
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  display: block !important;
}

/* line 38, ../sass/utilities/_animations.scss */
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

/* line 43, ../sass/utilities/_animations.scss */
.animate-show.ng-hide {
  opacity: 0;
}

/* line 54, ../sass/utilities/_animations.scss */
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  position: relative;
  display: block;
}

/* line 61, ../sass/utilities/_animations.scss */
.animate-repeat.ng-enter.ng-enter-active,
.animate-repeat.ng-leave {
  opacity: 1;
  bottom: 0;
  height: 48px;
}

/* line 68, ../sass/utilities/_animations.scss */
.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-enter {
  opacity: 0;
  bottom: -50px;
  height: 0px;
}

/* line 77, ../sass/utilities/_animations.scss */
.help-block.animate-repeat.ng-enter.ng-enter-active,
.help-block.animate-repeat.ng-leave {
  opacity: 1;
  bottom: 0;
  height: 36px;
}

/* line 84, ../sass/utilities/_animations.scss */
.help-block.animate-repeat.ng-leave.ng-leave-active,
.help-block.animate-repeat.ng-enter {
  opacity: 0;
  bottom: -50px;
  height: 0px;
}

/* line 93, ../sass/utilities/_animations.scss */
.loading9 i:first-child {
  -moz-animation: loading9-ani2 0.5s linear infinite;
  -webkit-animation: loading9-ani2 0.5s linear infinite;
  -o-animation: loading9-ani2 0.5s linear infinite;
  -ms-animation: loading9-ani2 0.5s linear infinite;
  animation: loading9-ani2 0.5s linear infinite;
  opacity: 0;
  -moz-transform: translate(-20px);
  -webkit-transform: translate(-20px);
  -o-transform: translate(-20px);
  -ms-transform: translate(-20px);
  transform: translate(-20px);
}

/* line 107, ../sass/utilities/_animations.scss */
.loading9 i:nth-child(2),
.loading9 i:nth-child(3) {
  -moz-animation: loading9-ani3 0.5s linear infinite;
  -webkit-animation: loading9-ani3 0.5s linear infinite;
  -o-animation: loading9-ani3 0.5s linear infinite;
  -ms-animation: loading9-ani3 0.5s linear infinite;
  animation: loading9-ani3 0.5s linear infinite;
}

/* line 114, ../sass/utilities/_animations.scss */
.loading9 i:last-child {
  -moz-animation: loading9-ani1 0.5s linear infinite;
  -webkit-animation: loading9-ani1 0.5s linear infinite;
  -o-animation: loading9-ani1 0.5s linear infinite;
  -ms-animation: loading9-ani1 0.5s linear infinite;
  animation: loading9-ani1 0.5s linear infinite;
}

@-moz-keyframes loading9-ani1 {
  /* line 122, ../sass/utilities/_animations.scss */
  100% {
    -moz-transform: translate(40px);
    opacity: 0;
  }
}

@-moz-keyframes loading9-ani2 {
  /* line 128, ../sass/utilities/_animations.scss */
  100% {
    -moz-transform: translate(20px);
    opacity: 1;
  }
}

@-moz-keyframes loading9-ani3 {
  /* line 134, ../sass/utilities/_animations.scss */
  100% {
    -moz-transform: translate(20px);
  }
}

@-webkit-keyframes loading9-ani1 {
  /* line 140, ../sass/utilities/_animations.scss */
  100% {
    -webkit-transform: translate(40px);
    opacity: 0;
  }
}

@-webkit-keyframes loading9-ani2 {
  /* line 146, ../sass/utilities/_animations.scss */
  100% {
    -webkit-transform: translate(20px);
    opacity: 1;
  }
}

@-webkit-keyframes loading9-ani3 {
  /* line 152, ../sass/utilities/_animations.scss */
  100% {
    -webkit-transform: translate(20px);
  }
}

@-o-keyframes loading9-ani1 {
  /* line 158, ../sass/utilities/_animations.scss */
  100% {
    -o-transform: translate(40px);
    opacity: 0;
  }
}

@-o-keyframes loading9-ani2 {
  /* line 164, ../sass/utilities/_animations.scss */
  100% {
    -o-transform: translate(20px);
    opacity: 1;
  }
}

@-o-keyframes loading9-ani3 {
  /* line 170, ../sass/utilities/_animations.scss */
  100% {
    -o-transform: translate(20px);
  }
}

@-ms-keyframes loading9-ani1 {
  /* line 176, ../sass/utilities/_animations.scss */
  100% {
    -ms-transform: translate(40px);
    opacity: 0;
  }
}

@-ms-keyframes loading9-ani2 {
  /* line 182, ../sass/utilities/_animations.scss */
  100% {
    -ms-transform: translate(20px);
    opacity: 1;
  }
}

@-ms-keyframes loading9-ani3 {
  /* line 188, ../sass/utilities/_animations.scss */
  100% {
    -ms-transform: translate(20px);
  }
}

@keyframes loading9-ani1 {
  /* line 194, ../sass/utilities/_animations.scss */
  100% {
    transform: translate(40px);
    opacity: 0;
  }
}

@keyframes loading9-ani2 {
  /* line 200, ../sass/utilities/_animations.scss */
  100% {
    transform: translate(20px);
    opacity: 1;
  }
}

@keyframes loading9-ani3 {
  /* line 206, ../sass/utilities/_animations.scss */
  100% {
    transform: translate(20px);
  }
}

/*
*
*  Adapted from Golden Grid System (1.0)	<http://goldengridsystem.com/>
*
*/
/* line 24, ../sass/structure/_grid.scss */
.col-8 {
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.75em;
  position: relative;
  clear: both;
}

/* line 25, ../sass/structure/_grid.scss */
.col-7 {
  width: 100%;
  float: left;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.75em;
  position: relative;
}

/* line 26, ../sass/structure/_grid.scss */
.col-6 {
  width: 100%;
  float: left;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.75em;
  position: relative;
}

/* line 27, ../sass/structure/_grid.scss */
.col-5 {
  width: 100%;
  float: left;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.75em;
  position: relative;
}

/* line 28, ../sass/structure/_grid.scss */
.col-4 {
  width: 100%;
  float: left;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.75em;
  position: relative;
}

/* line 29, ../sass/structure/_grid.scss */
.col-3 {
  width: 100%;
  float: left;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.75em;
  position: relative;
}

/* line 30, ../sass/structure/_grid.scss */
.col-2 {
  width: 100%;
  float: left;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.75em;
  position: relative;
}

/* line 31, ../sass/structure/_grid.scss */
.col-1 {
  width: 100%;
  float: left;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.75em;
  position: relative;
}

/* line 33, ../sass/structure/_grid.scss */
.col-offset-7 {
  padding-left: 0;
  margin: 0 0.75em;
  float: left;
}

/* line 34, ../sass/structure/_grid.scss */
.col-offset-6 {
  padding-left: 0;
  margin: 0 0.75em;
  float: left;
}

/* line 35, ../sass/structure/_grid.scss */
.col-offset-5 {
  padding-left: 0;
  margin: 0 0.75em;
  float: left;
}

/* line 36, ../sass/structure/_grid.scss */
.col-offset-4 {
  padding-left: 0;
  margin: 0 0.75em;
  float: left;
}

/* line 37, ../sass/structure/_grid.scss */
.col-offset-3 {
  padding-left: 0;
  margin: 0 0.75em;
  float: left;
}

/* line 38, ../sass/structure/_grid.scss */
.col-offset-2 {
  padding-left: 0;
  margin: 0 0.75em;
  float: left;
}

/* line 39, ../sass/structure/_grid.scss */
.col-offset-1 {
  padding-left: 0;
  margin: 0 0.75em;
  float: left;
}

/*
*
*	Zoomable baseline grid
*	type size presets
*
*/
/* line 140, ../sass/structure/_grid.scss */
body {
  /* 16px / 24px */
  font-size: 1em;
  line-height: 1.5em;
}

/* line 146, ../sass/structure/_grid.scss */
h4 {
  /* 18px / 28px */
  font-size: 1.25em;
  line-height: 1.8em;
  margin: 24px 0 24px;
}

/* line 151, ../sass/structure/_grid.scss */
h3 {
  /* 32 / 36px */
  font-size: 2em;
  line-height: 1.125em;
  margin: 24px 0 24px;
}

/* line 156, ../sass/structure/_grid.scss */
h2 {
  /* 42px / 48px */
  font-size: 2.625em;
  line-height: 1.14286em;
  margin: 24px 0 24px;
}

/* line 161, ../sass/structure/_grid.scss */
h1 {
  /* 68px / 72px */
  font-size: 4.25em;
  line-height: 1.05882em;
  margin: 24px 0 24px;
}

/*
* Simple elastic gutters
* Note: box-sizing will not work in IE6-7
*/
/* line 171, ../sass/structure/_grid.scss */
.wrapper {
  padding: 0 0.75em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
*
*  Four-column grid active
*  ----------------------------------------
*  Margin   | #  1   2   3   4   |   Margin
*  5.55555% | %  25  50  75  100 | 5.55555%
*
*/
/* line 185, ../sass/structure/_grid.scss */
.inner {
  margin: 0 0;
  padding: 1.5em 5.55556%;
}

/* @media screen and (min-width: 480px) */
/*
*
*  Eight-column grid active
*  ----------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8   |   Margin
*  5.55555% | %  12.5  25.0  37.5  50.0  62.5  75.0  87.5  100 | 5.55555%
*
*
*/
/* @media screen and (min-width: 720px) */
@media screen and (min-width: 45em) {
  /* line 212, ../sass/structure/_grid.scss */
  .col-8 {
    width: 100%;
  }

  /* line 213, ../sass/structure/_grid.scss */
  .col-7 {
    width: 82.5%;
  }

  /* line 214, ../sass/structure/_grid.scss */
  .col-6 {
    width: 75%;
  }

  /* line 215, ../sass/structure/_grid.scss */
  .col-5 {
    width: 62.5%;
  }

  /* line 216, ../sass/structure/_grid.scss */
  .col-4 {
    width: 50%;
  }

  /* line 217, ../sass/structure/_grid.scss */
  .col-3 {
    width: 37.5%;
  }

  /* line 218, ../sass/structure/_grid.scss */
  .col-2 {
    width: 25%;
  }

  /* line 219, ../sass/structure/_grid.scss */
  .col-1 {
    width: 12.5%;
  }

  /* line 221, ../sass/structure/_grid.scss */
  .col-offset-7 {
    padding-left: 82.5%;
  }

  /* line 222, ../sass/structure/_grid.scss */
  .col-offset-6 {
    padding-left: 75%;
  }

  /* line 223, ../sass/structure/_grid.scss */
  .col-offset-5 {
    padding-left: 62.5%;
  }

  /* line 224, ../sass/structure/_grid.scss */
  .col-offset-4 {
    padding-left: 50%;
  }

  /* line 225, ../sass/structure/_grid.scss */
  .col-offset-3 {
    padding-left: 37.5%;
  }

  /* line 226, ../sass/structure/_grid.scss */
  .col-offset-2 {
    padding-left: 25%;
  }

  /* line 227, ../sass/structure/_grid.scss */
  .col-offset-1 {
    padding-left: 12.5%;
  }

  /* line 229, ../sass/structure/_grid.scss */
  .inner {
    margin: 0 2.77778%;
    padding: 1.5em 2.77778%;
  }
}
/* @media screen and (min-width: 888px) */
/* @media screen and (min-width: 984px) */
@media screen and (min-width: 61.5em) {
  /* line 248, ../sass/structure/_grid.scss */
  .inner {
    margin: 0 12.5%;
    padding: 0 4.16667%;
  }
}
/* @media screen and (min-width: 1200px) */
/* @media screen and (min-width: 1392px) */
/* @media screen and (min-width: 1680px) */
/*
*
*  Sixteen-column grid active
*  ----------------------------------------------------------------------------------------------------------------------
*  Margin   | #  1     2     3     4     5     6     7     8     9     10    11    12    13    14    15    16  |   Margin
*  5.55555% | %  6.25  12.5  18.75 25.0  31.25 37.5  43.75 50.0  56.25 62.5  68.75 75.0  81.25 87.5  93.75 100 | 5.55555%
*
*
*/
/* @media screen and (min-width: 1872px) */
/* @media screen and (min-width: 2080px) */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Reset
2.0 - Typography
3.0 - Elements
4.0 - Forms
5.0 - Navigation
	5.1 - Links
	5.2 - Menus
6.0 - Accessibility
7.0 - Alignments
8.0 - Clearings
9.0 - Widgets
10.0 - Content
	10.1 - Posts and pages
	10.2 - Asides
	10.3 - Comments
11.0 - Infinite scroll
12.0 - Media
	12.1 - Captions
	12.2 - Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Reset
--------------------------------------------------------------*/
/* line 31, ../sass/structure/_base.scss */
body {
  background: white;
}

/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/
/* line 43, ../sass/structure/_base.scss */
body,
button,
input,
select,
textarea {
  color: #2e3347;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.1px;
}

/* line 49, ../sass/structure/_base.scss */
h1, h2, h3, h4, h5, h6 {
  clear: both;
}

/* line 52, ../sass/structure/_base.scss */
p {
  margin-bottom: 1.5em;
}

/* line 55, ../sass/structure/_base.scss */
b, strong {
  font-weight: 500;
}

/* line 58, ../sass/structure/_base.scss */
dfn, cite, em, i {
  font-style: italic;
}

/* line 61, ../sass/structure/_base.scss */
blockquote {
  margin: 0 1.5em;
}

/* line 64, ../sass/structure/_base.scss */
address {
  margin: 0 0 1.5em;
}

/* line 67, ../sass/structure/_base.scss */
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  max-width: 100%;
  overflow: auto;
}

/* line 73, ../sass/structure/_base.scss */
code, kbd, tt, var {
  font: 1em Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

/* line 76, ../sass/structure/_base.scss */
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

/* line 80, ../sass/structure/_base.scss */
mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

/* line 85, ../sass/structure/_base.scss */
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 92, ../sass/structure/_base.scss */
sup {
  bottom: 1ex;
}

/* line 95, ../sass/structure/_base.scss */
sub {
  top: .5ex;
}

/* line 98, ../sass/structure/_base.scss */
small {
  font-size: 60%;
  line-height: 100%;
  color: #96a1b2;
}

/* line 103, ../sass/structure/_base.scss */
big {
  font-size: 125%;
}

/* line 107, ../sass/structure/_base.scss */
::-webkit-input-placeholder {
  color: #96a1b2;
}

/* line 108, ../sass/structure/_base.scss */
:-moz-placeholder {
  color: #96a1b2;
}

/* line 109, ../sass/structure/_base.scss */
::-moz-placeholder {
  color: #96a1b2;
}

/* line 110, ../sass/structure/_base.scss */
:-ms-input-placeholder {
  color: #96a1b2;
}

/* line 112, ../sass/structure/_base.scss */
.text-muted {
  color: #96a1b2;
}

/* line 113, ../sass/structure/_base.scss */
.remove-top {
  margin-top: 0;
}

/* line 114, ../sass/structure/_base.scss */
.remove-bottom {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
3.0 Elements
--------------------------------------------------------------*/
/* line 119, ../sass/structure/_base.scss */
hr {
  background-color: #f6f9fc;
  margin: 0 0.75em 23px;
  border: 0;
  height: 1px;
  clear: both;
  display: block;
}
/* line 126, ../sass/structure/_base.scss */
hr.blank {
  background: none;
  height: 1px;
}

/* line 128, ../sass/structure/_base.scss */
.fa-175x {
  font-size: 175%;
}

/* line 131, ../sass/structure/_base.scss */
.fa {
  cursor: pointer;
}

/* line 134, ../sass/structure/_base.scss */
ul, ol {
  margin: 0 0 1.5em 3em;
}

/* line 137, ../sass/structure/_base.scss */
ul {
  list-style: disc;
}

/* line 140, ../sass/structure/_base.scss */
ol {
  list-style: decimal;
}

/* line 144, ../sass/structure/_base.scss */
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

/* line 148, ../sass/structure/_base.scss */
dt {
  font-weight: 500;
}

/* line 151, ../sass/structure/_base.scss */
dd {
  margin: 0 1.5em 1.5em;
}

/* line 154, ../sass/structure/_base.scss */
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

/* line 158, ../sass/structure/_base.scss */
figure {
  margin: 0;
}

/* line 161, ../sass/structure/_base.scss */
caption, th, td {
  font-weight: 300;
}

/* line 164, ../sass/structure/_base.scss */
table {
  margin: 0 0 1.5em;
  width: 100%;
  border-collapse: collapse;
}

/* line 169, ../sass/structure/_base.scss */
tr {
  height: 48px;
}

/* line 170, ../sass/structure/_base.scss */
th, td {
  height: 48px;
  line-height: 48px;
}

/* line 174, ../sass/structure/_base.scss */
th {
  font-weight: 400;
  padding: 0 0.75em;
}

/* line 178, ../sass/structure/_base.scss */
td {
  padding: 0 0.75em;
}

/* line 182, ../sass/structure/_base.scss */
tbody tr {
  border-top: 1px solid #f6f9fc;
}

/* line 187, ../sass/structure/_base.scss */
.table {
  position: relative;
}
/* line 189, ../sass/structure/_base.scss */
.table ul {
  position: relative;
  top: 0px;
  margin: 0;
  list-style: none;
  height: 48px;
  padding: 0 15px;
  font-size: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 198, ../sass/structure/_base.scss */
.table ul li {
  font-size: 16px;
  display: inline-block;
  height: 48px;
  line-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 208, ../sass/structure/_base.scss */
.table.table-hover ul:hover, .table.table-hover tr:hover {
  background: #f6f9fc;
}

/* line 213, ../sass/structure/_base.scss */
.tbody ul {
  border-top: 1px solid #f6f9fc;
}

/*--------------------------------------------------------------
4.0 Forms
--------------------------------------------------------------*/
/* line 220, ../sass/structure/_base.scss */
form {
  float: left;
  width: 100%;
  margin-bottom: 1.5em;
}

/* line 225, ../sass/structure/_base.scss */
.form-control, .collapse-toggle {
  display: block;
  color: #54547a;
  padding: 0.49em 1em;
  border: 1px solid #c2d1e3;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  height: 3em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  margin-bottom: 0.75em;
  box-shadow: none;
}

/* line 238, ../sass/structure/_base.scss */
.form-control:focus, .collapse-toggle:focus {
  color: #2e3347;
}

/* line 241, ../sass/structure/_base.scss */
select {
  width: 100%;
  box-shadow: none;
  background-color: white;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}

@-moz-document url-prefix() {
  /* line 253, ../sass/structure/_base.scss */
  select.form-control, select.collapse-toggle {
    padding: 0.75em 0.75em;
  }
}

/* line 255, ../sass/structure/_base.scss */
.select::before {
  font-family: FontAwesome;
  content: "\f0dc";
  position: absolute;
  top: 0.75em;
  right: 1.75em;
  display: block;
  color: #96a1b2;
}

/* line 267, ../sass/structure/_base.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  *vertical-align: middle;
  /* Improves appearance and consistency in IE6/IE7 */
}

/* line 276, ../sass/structure/_base.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  background: #24c7d9;
  color: white;
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  padding: .5em 1em .5em;
  height: 3em;
}
/* line 285, ../sass/structure/_base.scss */
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background: #0f2630;
}

/* line 297, ../sass/structure/_base.scss */
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #aaa #bbb #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

/* line 302, ../sass/structure/_base.scss */
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}

/* line 305, ../sass/structure/_base.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 311, ../sass/structure/_base.scss */
input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

/* line 315, ../sass/structure/_base.scss */
#search-2 .search-field {
  border: none;
  width: 100%;
}

/* line 321, ../sass/structure/_base.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

/* line 325, ../sass/structure/_base.scss */
textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 98%;
}

/* line 331, ../sass/structure/_base.scss */
label {
  color: #6883a5;
  white-space: nowrap;
}
/* line 334, ../sass/structure/_base.scss */
label .fa {
  color: #c2d1e3;
  float: right;
  margin-top: 0.25em;
  margin-right: 0.75em;
}
@media (min-width: 45em) {
  /* line 334, ../sass/structure/_base.scss */
  label .fa {
    float: none;
    margin-top: 0;
    margin-right: 0.25em;
  }
}

/* line 346, ../sass/structure/_base.scss */
.help-block {
  font-style: italic;
  color: #96a1b2;
  margin-bottom: 12px;
}
/* line 350, ../sass/structure/_base.scss */
.help-block .fa {
  color: #d93066;
  margin-right: 0.5em;
}

/*--------------------------------------------------------------
5.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
/* line 362, ../sass/structure/_base.scss */
a {
  color: #24c7d9;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

/* line 368, ../sass/structure/_base.scss */
a:visited {
  color: #24c7d9;
}

/* line 373, ../sass/structure/_base.scss */
a:hover,
a:focus,
a:active {
  color: #d93066;
}

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/
/* line 380, ../sass/structure/_base.scss */
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}

/* Small menu */
/* line 388, ../sass/structure/_base.scss */
.menu-toggle {
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 600px) {
  /* line 394, ../sass/structure/_base.scss */
  .menu-toggle,
  .main-navigation.toggled .nav-menu {
    display: block;
  }

  /* line 398, ../sass/structure/_base.scss */
  .main-navigation ul {
    display: none;
  }
}
/* line 404, ../sass/structure/_base.scss */
.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

/* line 410, ../sass/structure/_base.scss */
.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

/* line 416, ../sass/structure/_base.scss */
.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

/*--------------------------------------------------------------
6.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
/* line 426, ../sass/structure/_base.scss */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

/* line 433, ../sass/structure/_base.scss */
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}

/*--------------------------------------------------------------
7.0 Alignments
--------------------------------------------------------------*/
/* line 455, ../sass/structure/_base.scss */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

/* line 460, ../sass/structure/_base.scss */
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

/* line 465, ../sass/structure/_base.scss */
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

/*--------------------------------------------------------------
8.0 Clearings
--------------------------------------------------------------*/
/* line 489, ../sass/structure/_base.scss */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.col-8:before,
.col-8:after,
#main:before,
#main:after {
  content: '';
  display: table;
}

/* line 501, ../sass/structure/_base.scss */
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.col-8:after,
#main:after {
  clear: both;
}

/*--------------------------------------------------------------
9.0 Widgets
--------------------------------------------------------------*/
/* line 509, ../sass/structure/_base.scss */
.widget ul {
  display: none;
}

/* Make sure select elements fit in widgets */
/* line 513, ../sass/structure/_base.scss */
.widget select {
  max-width: 100%;
}

/* Search widget */
/* line 518, ../sass/structure/_base.scss */
.widget_search .search-submit {
  display: none;
}

/*--------------------------------------------------------------
10.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
/* line 531, ../sass/structure/_base.scss */
.hentry {
  margin: 0 0 1.5em;
}
/* line 533, ../sass/structure/_base.scss */
.hentry header {
  text-align: center;
  border-bottom: 1px solid #d8e2ea;
  padding: 3em 0 1.5em;
}
/* line 534, ../sass/structure/_base.scss */
.hentry header h1 {
  margin: 0;
}
/* line 538, ../sass/structure/_base.scss */
.hentry header .entry-meta {
  margin-top: 1.5em;
}

/* line 542, ../sass/structure/_base.scss */
.byline,
.updated {
  display: none;
}

/* line 546, ../sass/structure/_base.scss */
.single .byline,
.group-blog .byline {
  display: inline;
}

/* line 551, ../sass/structure/_base.scss */
.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

/* line 554, ../sass/structure/_base.scss */
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
/* line 563, ../sass/structure/_base.scss */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
/* line 570, ../sass/structure/_base.scss */
.comment-content a {
  word-wrap: break-word;
}

/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
/* line 581, ../sass/structure/_base.scss */
.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
/* line 585, ../sass/structure/_base.scss */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
12.0 Media
--------------------------------------------------------------*/
/* line 594, ../sass/structure/_base.scss */
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers */
/* line 603, ../sass/structure/_base.scss */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
12.1 Captions
--------------------------------------------------------------*/
/* line 610, ../sass/structure/_base.scss */
.wp-caption {
  border: 1px solid #ccc;
  margin-bottom: 1.5em;
  max-width: 100%;
}

/* line 615, ../sass/structure/_base.scss */
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 1.5% auto 0;
  max-width: 98%;
}

/* line 620, ../sass/structure/_base.scss */
.wp-caption-text {
  text-align: center;
}

/* line 623, ../sass/structure/_base.scss */
.wp-caption .wp-caption-text {
  margin: 0.75em 0;
}

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
/* line 630, ../sass/structure/_base.scss */
.gallery {
  margin-bottom: 1.5em;
}

/* line 633, ../sass/structure/_base.scss */
.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

/* line 639, ../sass/structure/_base.scss */
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

/* line 642, ../sass/structure/_base.scss */
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

/* line 645, ../sass/structure/_base.scss */
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

/* line 648, ../sass/structure/_base.scss */
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

/* line 651, ../sass/structure/_base.scss */
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

/* line 654, ../sass/structure/_base.scss */
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

/* line 657, ../sass/structure/_base.scss */
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

/* line 660, ../sass/structure/_base.scss */
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

/* line 3, ../sass/structure/_layout.scss */
body {
  height: 100%;
}

/* line 4, ../sass/structure/_layout.scss */
#page, #content {
  height: 100%;
}

/* line 6, ../sass/structure/_layout.scss */
#site-navigation {
  background: white;
  border-bottom: 1px solid #d8e2ea;
}
/* line 9, ../sass/structure/_layout.scss */
#site-navigation .navicon {
  display: block;
  float: left;
  width: 80px;
  height: 72px;
  line-height: 72px;
}
/* line 15, ../sass/structure/_layout.scss */
#site-navigation .navicon .open-nav {
  position: absolute;
  z-index: 50;
  padding: 23px 0 0 23px;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 27, ../sass/structure/_layout.scss */
#site-navigation .navicon .open-nav i {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: block;
  height: 3px;
  width: 25px;
  background: #2e3347;
  opacity: 1;
}
/* line 36, ../sass/structure/_layout.scss */
#site-navigation .navicon .open-nav:before,
#site-navigation .navicon .open-nav:after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background: #2e3347;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 44, ../sass/structure/_layout.scss */
#site-navigation .navicon .open-nav:before {
  margin-bottom: 6px;
}
/* line 47, ../sass/structure/_layout.scss */
#site-navigation .navicon .open-nav:after {
  margin-top: 6px;
}
/* line 50, ../sass/structure/_layout.scss */
#site-navigation .navicon .open-nav.sidebar-expand {
  padding: 24px 0 0 20px;
}
/* line 53, ../sass/structure/_layout.scss */
#site-navigation .navicon .open-nav.sidebar-expand i {
  opacity: 0;
}
/* line 56, ../sass/structure/_layout.scss */
#site-navigation .navicon .open-nav.sidebar-expand:before {
  -moz-transform: rotate(45deg) translate(10px, 5px);
  -webkit-transform: rotate(45deg) translate(10px, 5px);
  -o-transform: rotate(45deg) translate(10px, 5px);
  -ms-transform: rotate(45deg) translate(10px, 5px);
  transform: rotate(45deg) translate(10px, 5px);
}
/* line 63, ../sass/structure/_layout.scss */
#site-navigation .navicon .open-nav.sidebar-expand:after {
  -moz-transform: rotate(-45deg) translate(8px, -3px);
  -webkit-transform: rotate(-45deg) translate(8px, -3px);
  -o-transform: rotate(-45deg) translate(8px, -3px);
  -ms-transform: rotate(-45deg) translate(8px, -3px);
  transform: rotate(-45deg) translate(8px, -3px);
}
@media (min-width: 45em) {
  /* line 9, ../sass/structure/_layout.scss */
  #site-navigation .navicon {
    display: none;
  }
}
/* line 75, ../sass/structure/_layout.scss */
#site-navigation .nav-link, #site-navigation .dropdown .dropdown-toggle, .dropdown #site-navigation .dropdown-toggle {
  display: block;
  float: left;
  text-decoration: none;
  color: #466284;
  font-weight: 400;
  padding: 1.5em 1.5em;
}
/* line 82, ../sass/structure/_layout.scss */
#site-navigation .nav-link:hover, #site-navigation .dropdown .dropdown-toggle:hover, .dropdown #site-navigation .dropdown-toggle:hover {
  color: #0f2630;
  background: #f6f9fc;
}
/* line 83, ../sass/structure/_layout.scss */
#site-navigation .nav-link i, #site-navigation .dropdown .dropdown-toggle i, .dropdown #site-navigation .dropdown-toggle i {
  margin-left: 0.75em;
}

/* line 89, ../sass/structure/_layout.scss */
#content {
  width: 100%;
}

/* line 91, ../sass/structure/_layout.scss */
#masthead {
  display: none;
  text-align: center;
}

/* line 95, ../sass/structure/_layout.scss */
#masthead2 {
  text-align: center;
  padding: 0 1.5em;
}

/* line 100, ../sass/structure/_layout.scss */
#primary {
  background: #f6f9fc;
  overflow: hidden;
  min-height: 100%;
}
/* line 105, ../sass/structure/_layout.scss */
#primary .wrapper {
  float: left;
  width: 100%;
}
/* line 109, ../sass/structure/_layout.scss */
#primary #main {
  clear: both;
  padding: 1.5em 0 0;
  min-height: 90%;
}
/* line 111, ../sass/structure/_layout.scss */
#primary #main .header h2 {
  text-align: center;
}
/* line 115, ../sass/structure/_layout.scss */
#primary #main .content {
  position: relative;
  border-top: 1px solid #d8e2ea;
  margin-top: -2px;
  background: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 3em;
  padding-bottom: 1.5em;
}
@media (min-width: 45em) {
  /* line 115, ../sass/structure/_layout.scss */
  #primary #main .content {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #d8e2ea;
  }
}
@media (min-width: 45em) {
  /* line 109, ../sass/structure/_layout.scss */
  #primary #main {
    padding-bottom: 3em;
  }
}

/* line 137, ../sass/structure/_layout.scss */
#secondary {
  position: relative;
  z-index: 5;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #2e3347;
  min-height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  float: left;
  width: 0px;
  padding: 0;
}
/* line 141, ../sass/structure/_layout.scss */
#secondary .sidebar {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: fixed;
  background: #2e3347;
  min-height: 100%;
  width: 80px;
  left: -80px;
}
/* line 148, ../sass/structure/_layout.scss */
#secondary .sidebar.sidebar-expand {
  left: 0px;
}
/* line 151, ../sass/structure/_layout.scss */
#secondary .sidebar ul {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;
}
/* line 158, ../sass/structure/_layout.scss */
#secondary .sidebar ul ul {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  height: auto;
  z-index: -1;
  background: #24c7d9;
  width: 220px;
  margin: -72px 0 0 -140px;
  overflow: hidden;
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  -ms-border-radius: 0 6px 6px 0;
  -o-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
}
/* line 168, ../sass/structure/_layout.scss */
#secondary .sidebar ul ul .nav-label {
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 0 0 2em;
  text-align: left;
  color: #6883a5;
  background: #2e3347;
}
/* line 177, ../sass/structure/_layout.scss */
#secondary .sidebar ul ul li a, #secondary .sidebar ul ul li:first-child a {
  padding: 0 0 0 2em;
  text-align: left;
  width: 220px;
  height: 48px;
  line-height: 48px;
  color: #c2d1e3;
  background: #0f2630;
}
/* line 185, ../sass/structure/_layout.scss */
#secondary .sidebar ul ul li a:hover, #secondary .sidebar ul ul li:first-child a:hover {
  background: #24c7d9;
  color: white;
}
/* line 186, ../sass/structure/_layout.scss */
#secondary .sidebar ul ul li a:active, #secondary .sidebar ul ul li:first-child a:active {
  background: white;
  color: #24c7d9;
}
/* line 190, ../sass/structure/_layout.scss */
#secondary .sidebar ul li:hover ul {
  margin-left: 80px;
}
/* line 194, ../sass/structure/_layout.scss */
#secondary .sidebar ul li:first-child a {
  color: white;
  background: #24c7d9;
}
/* line 197, ../sass/structure/_layout.scss */
#secondary .sidebar ul li:first-child a:hover {
  background: #0f2630;
  color: #24c7d9;
}
/* line 198, ../sass/structure/_layout.scss */
#secondary .sidebar ul li:first-child a:active {
  background: #0f2630;
  color: white;
}
/* line 200, ../sass/structure/_layout.scss */
#secondary .sidebar ul a {
  display: block;
  cursor: pointer;
  width: 80px;
  padding: 6px 1px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 72px;
  line-height: 72px;
  text-align: center;
  color: #c2d1e3;
  background: #2e3347;
}
/* line 211, ../sass/structure/_layout.scss */
#secondary .sidebar ul a:hover {
  background: #0f2630;
  color: #24c7d9;
}
/* line 212, ../sass/structure/_layout.scss */
#secondary .sidebar ul a:active {
  background: #0f2630;
  color: white;
}
/* line 214, ../sass/structure/_layout.scss */
#secondary .sidebar ul .anchor-bottom {
  position: absolute;
  bottom: 0px;
}
/* line 218, ../sass/structure/_layout.scss */
#secondary .sidebar ul .toolbar-muted a {
  color: #6883a5;
}
/* line 220, ../sass/structure/_layout.scss */
#secondary .sidebar ul .toolbar-muted a:hover {
  background: #0f2630;
  color: #24c7d9;
}
/* line 221, ../sass/structure/_layout.scss */
#secondary .sidebar ul .toolbar-muted a:active {
  background: #0f2630;
  color: white;
}
@media (min-width: 45em) {
  /* line 141, ../sass/structure/_layout.scss */
  #secondary .sidebar {
    left: 0px;
  }
}
@media (min-width: 45em) {
  /* line 137, ../sass/structure/_layout.scss */
  #secondary {
    width: 80px;
  }
}
/* line 238, ../sass/structure/_layout.scss */
#secondary.sidebar-expand {
  width: 80px;
}

/* line 243, ../sass/structure/_layout.scss */
#colophon {
  padding: 3em 0;
  border-top: 1px solid #d8e2ea;
  clear: both;
}
/* line 247, ../sass/structure/_layout.scss */
#colophon .site-footer-links {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 251, ../sass/structure/_layout.scss */
#colophon .site-footer-links a {
  color: #466284;
}
/* line 252, ../sass/structure/_layout.scss */
#colophon .site-footer-links li {
  float: left;
  margin: 0 1.5em 0 0;
}
@media (min-width: 45em) {
  /* line 255, ../sass/structure/_layout.scss */
  #colophon .site-footer-links.right li {
    float: right;
    margin: 0 0 0 1.5em;
  }
}

/* line 266, ../sass/structure/_layout.scss */
#nav-button {
  position: absolute;
  border: 1px solid #d8e2ea;
  border-width: 0 1px 1px;
  margin: -1px 1.5em;
  background: white;
  color: #d8e2ea;
  cursor: pointer;
  padding: .5em 1em .5em;
  height: 3em;
  width: 3em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 278, ../sass/structure/_layout.scss */
#nav-button:hover {
  background: #d8e2ea;
  color: white;
}

/*
*
*  Fixes for IE6-8
*  http://jonikorpi.com/leaving-old-IE-behind/
*
*/
/* line 290, ../sass/structure/_layout.scss */
.ie body {
  width: 40em;
  margin: 0 auto;
  font-size: 1.0625em;
}

/* line 296, ../sass/structure/_layout.scss */
.ie h1 {
  /* 42px / 48px */
  font-size: 2.625em;
  line-height: 1.14286em;
  margin: 1.14286em 0 0.57143em;
}

/* line 6, ../sass/structure/_module.scss */
.breadcrumb {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #96a1b2;
}
/* line 10, ../sass/structure/_module.scss */
.breadcrumb li {
  display: inline;
}

/* line 16, ../sass/structure/_module.scss */
.encircle {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid #24c7d9;
  width: 48px;
  height: 48px;
  padding-top: 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 75%;
  line-height: 100%;
  text-align: center;
  vertical-align: top;
  color: #24c7d9;
}
/* line 17, ../sass/structure/_module.scss */
.encircle.fa {
  display: block;
  margin: 0 auto;
}
@media (min-width: 45em) {
  /* line 29, ../sass/structure/_module.scss */
  .encircle.fa {
    display: inline-block;
    margin-right: 0.3em;
  }
}

/* line 36, ../sass/structure/_module.scss */
.form-horizontal label {
  display: inline;
  float: none;
  text-align: left;
  height: auto;
  line-height: auto;
}
@media (min-width: 45em) {
  /* line 36, ../sass/structure/_module.scss */
  .form-horizontal label {
    display: block;
    float: left;
    text-align: right;
    height: 3em;
    line-height: 3em;
  }
}
/* line 50, ../sass/structure/_module.scss */
.form-horizontal .form-control, .form-horizontal .collapse-toggle {
  clear: both;
}

/* line 56, ../sass/structure/_module.scss */
.pagination {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}
/* line 61, ../sass/structure/_module.scss */
.pagination li {
  float: left;
  height: 3em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #d8e2ea;
  border-width: 1px 1px 1px 0;
}
/* line 67, ../sass/structure/_module.scss */
.pagination li:first-child {
  border-left: 1px solid #d8e2ea;
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  -ms-border-radius: 6px 0 0 6px;
  -o-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
/* line 68, ../sass/structure/_module.scss */
.pagination li:last-child {
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  -ms-border-radius: 0 6px 6px 0;
  -o-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
}
/* line 70, ../sass/structure/_module.scss */
.pagination a {
  display: block;
  text-align: center;
  line-height: 3em;
  padding: 0 1em;
}

/* line 79, ../sass/structure/_module.scss */
.collapse-toggle {
  display: block;
  line-height: 3em;
  border: 0;
  padding: 0;
  margin-bottom: 0;
  color: #54547a;
}
/* line 88, ../sass/structure/_module.scss */
.collapse-toggle i {
  line-height: inherit;
}
/* line 89, ../sass/structure/_module.scss */
.collapse-toggle:visited {
  color: #54547a;
}
/* line 90, ../sass/structure/_module.scss */
.collapse-toggle:hover {
  color: #2e3347;
  background: #f6f9fc;
  padding: 0 1.5em;
}
/* line 95, ../sass/structure/_module.scss */
.collapse-toggle:active {
  color: #24c7d9;
}

/* line 99, ../sass/structure/_module.scss */
.loading {
  position: relative;
  width: 100%;
  text-align: center;
  height: 0;
  top: 48px;
  margin: 0;
  padding: 0;
}

/* line 108, ../sass/structure/_module.scss */
.loading9 i {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  background: #24c7d9;
}

/* line 118, ../sass/structure/_module.scss */
.alert {
  background: #24c7d9;
  color: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  margin: 0 0.75em 1.5em;
}
/* line 123, ../sass/structure/_module.scss */
.alert button {
  background: none;
}
/* line 124, ../sass/structure/_module.scss */
.alert.alert-info {
  background: #f6f9fc;
  border: 1px solid #d8e2ea;
  color: #54547a;
}
/* line 128, ../sass/structure/_module.scss */
.alert.alert-info button {
  color: #54547a;
}

/* line 138, ../sass/structure/_module.scss */
.dropdown {
  position: relative;
  float: left;
}

/* line 147, ../sass/structure/_module.scss */
.dropdown-toggle:focus {
  outline: 0;
}

/* line 152, ../sass/structure/_module.scss */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  display: none;
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 16;
  border: 1px solid #d8e2ea;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  background-color: white;
  background-clip: padding-box;
}
/* line 171, ../sass/structure/_module.scss */
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
/* line 177, ../sass/structure/_module.scss */
.dropdown-menu .divider {
  height: 1px;
  width: 100%;
  background: #d8e2ea;
}
/* line 184, ../sass/structure/_module.scss */
.dropdown-menu > li > a {
  color: #466284;
  text-align: left;
  display: block;
  padding: 0 1.5em;
  clear: both;
  line-height: 3em;
  white-space: nowrap;
}

/* line 198, ../sass/structure/_module.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  background-color: #f6f9fc;
  color: #0f2630;
}

/* line 209, ../sass/structure/_module.scss */
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  text-decoration: none;
  outline: 0;
}

/* line 218, ../sass/structure/_module.scss */
.open > .dropdown-menu {
  display: block;
}
/* line 223, ../sass/structure/_module.scss */
.open > a {
  outline: 0;
}

/* line 242, ../sass/structure/_module.scss */
.popover {
  position: absolute;
  top: 0;
  left: 0;
  /* 13px / 18px */
  font-size: 0.9em;
  line-height: 0.92308em;
  z-index: 15;
  display: none;
  max-width: 250px;
  padding: 1px;
  text-align: left;
  line-height: 24px;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid #c2d1e3;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  white-space: normal;
}
/* line 262, ../sass/structure/_module.scss */
.popover.top {
  margin-top: -11px;
}
/* line 263, ../sass/structure/_module.scss */
.popover.right {
  margin-left: 11px;
}
/* line 264, ../sass/structure/_module.scss */
.popover.bottom {
  margin-top: 11px;
}
/* line 265, ../sass/structure/_module.scss */
.popover.left {
  margin-left: -11px;
}

/* line 268, ../sass/structure/_module.scss */
.popover-title {
  margin: 0;
  padding: 8px 14px;
  /* 13px / 18px */
  font-size: 0.9em;
  line-height: 0.92308em;
  font-weight: normal;
  line-height: 18px;
  background-color: #f6f9fc;
  border-bottom: 1px solid #e3ecf6;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}

/* line 279, ../sass/structure/_module.scss */
.popover-content {
  padding: 9px 14px;
}

/* line 289, ../sass/structure/_module.scss */
.popover > .arrow, .popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

/* line 298, ../sass/structure/_module.scss */
.popover > .arrow {
  border-width: 12px;
}

/* line 301, ../sass/structure/_module.scss */
.popover > .arrow:after {
  border-width: 11px;
  content: "";
}

/* line 307, ../sass/structure/_module.scss */
.popover.top > .arrow {
  left: 50%;
  margin-left: -12px;
  border-bottom-width: 0;
  border-top-color: #c2d1e3;
  bottom: -12px;
}
/* line 313, ../sass/structure/_module.scss */
.popover.top > .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: white;
}
/* line 321, ../sass/structure/_module.scss */
.popover.right > .arrow {
  top: 50%;
  left: -12px;
  margin-top: -12px;
  border-left-width: 0;
  border-right-color: #c2d1e3;
}
/* line 327, ../sass/structure/_module.scss */
.popover.right > .arrow:after {
  content: " ";
  left: 1px;
  bottom: -11px;
  border-left-width: 0;
  border-right-color: white;
}
/* line 335, ../sass/structure/_module.scss */
.popover.bottom > .arrow {
  left: 50%;
  margin-left: -12px;
  border-top-width: 0;
  border-bottom-color: #c2d1e3;
  top: -12px;
}
/* line 341, ../sass/structure/_module.scss */
.popover.bottom > .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: white;
}
/* line 350, ../sass/structure/_module.scss */
.popover.left > .arrow {
  top: 50%;
  right: -12px;
  margin-top: -12px;
  border-right-width: 0;
  border-left-color: #c2d1e3;
}
/* line 356, ../sass/structure/_module.scss */
.popover.left > .arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: white;
  bottom: -11px;
}

/* line 372, ../sass/structure/_module.scss */
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
/* line 375, ../sass/structure/_module.scss */
.fade.in {
  opacity: 1;
}

/* line 380, ../sass/structure/_module.scss */
.collapse {
  display: none;
  margin: 0;
}
/* line 383, ../sass/structure/_module.scss */
.collapse.in {
  display: block;
}

/* line 387, ../sass/structure/_module.scss */
.collapsing {
  position: relative;
  margin: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
