$cyan: #24c7d9;
$red: #D93066;

$dark: #0F2630;
$dark1: #2E3347;
$dark2: #466284;
$dark3: #54547A;
$dark4: #6883a5;

$light: #fff;
$light1: #F6F9FC;
$light2: #d8e2ea;
$light3: #C2D1E3;
$light4: #96a1b2;
$light5: #607895;

$background-color: $light1;
$sidebar-color: $dark1;
$header-color: $light;
$main-color: $light;
