$default-transition-property : all;
$default-transition-duration : .2s;
$default-transition-function : ease-in-out;
$default-transition-delay    : false;

$default-border-radius: 6px;

$dropdown-z: 10;
